
  <div class="new_question">
    <h1>New Question</h1>
    <form method="post" action="/questions">
      <p><input id="new_question" type="text" name="question" value="" placeholder="Type your question here"></p>
		<p><input class="myButton" type="submit" value="Post"></p>
	</form>
 </div>
