
    <div class="new_user">
      <h1>Sign Up for Quora Clone</h1>
      <form method="post" action="/create_user">
        <p><input type="text" name="email" value="" placeholder="Email"></p>
        <p><input type="password" name="password" value="" placeholder="Password"></p>
			<p><input class="myButton" type="submit" value="Sign Up"></p>
    </div>

